/* screen - 7-team-27 */

.x7-team-27 {
  align-items: flex-start;
  background-color: var(--rgb255-255-255);
  border: 1px none;
  display: flex;
  height: 900px;
  overflow: hidden;
  width: 1440px;
}

.x7-team-27 .overlap-group5 {
  height: 898px;
  position: relative;
  width: 1444px;
}

.x7-team-27 .base {
  background-color: var(--zanah);
  border: 1px solid;
  border-color: transparent;
  height: 860px;
  left: 20px;
  position: absolute;
  top: 20px;
  width: 1400px;
}

.x7-team-27 .post-thumbnail {
  background-color: var(--de-york);
  height: 202px;
  left: 18px;
  opacity: 0.7;
  position: absolute;
  top: 276px;
  width: 1402px;
}

.x7-team-27 .taller-ii {
  left: 163px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 380px;
  width: 279px;
}

.x7-team-27 .descripcin-de-la-clase {
  left: 163px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  top: 491px;
  width: 279px;
}

.x7-team-27 .fecha-de-creacin {
  left: 163px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: right;
  top: 431px;
  white-space: nowrap;
}

.x7-team-27 .nombre-del-docente {
  left: 200px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 530px;
  white-space: nowrap;
}

.x7-team-27 .overlap-group {
  align-items: center;
  background-color: var(--goblin);
  display: flex;
  height: 50px;
  left: 0;
  min-width: 1440px;
  padding: 0 76.8px;
  position: absolute;
  top: 848px;
}

.x7-team-27 .copyright {
  letter-spacing: 0;
  line-height: 20px;
  min-width: 72px;
  text-align: right;
  white-space: nowrap;
}

.x7-team-27 .archivos {
  left: 160px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 611px;
  width: 279px;
}

.x7-team-27 .rectngulo-1454 {
  background-color: var(--norway);
  border: 1px solid;
  border-color: transparent;
  height: 170px;
  left: 128px;
  position: absolute;
  top: 678px;
  width: 343px;
}

.x7-team-27 .rectngulo-1455 {
  background-color: var(--norway);
  border: 1px solid;
  border-color: transparent;
  height: 170px;
  left: 534px;
  position: absolute;
  top: 678px;
  width: 343px;
}

.x7-team-27 .rectngulo-1456 {
  background-color: var(--norway);
  border: 1px solid;
  border-color: transparent;
  height: 170px;
  left: 942px;
  position: absolute;
  top: 678px;
  width: 343px;
}

.x7-team-27 .base-1 {
  background-color: var(--goblin);
  border: 1px solid;
  border-color: transparent;
  height: 275px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1442px;
}

.x7-team-27 .group-1 {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 76px;
  left: 116px;
  min-width: 254px;
  position: absolute;
  top: 59px;
}

.x7-team-27 .asset-1-1 {
  height: 76px;
  object-fit: cover;
  width: 67px;
}

.x7-team-27 .dailyst {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 7.0px;
  min-height: 59px;
  min-width: 174px;
}

.x7-team-27 .rectngulo-1447 {
  border: 1px solid;
  border-color: transparent;
  height: 46px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 46px;
}

.x7-team-27 .trazado-240 {
  height: 17px;
  left: 208px;
  position: absolute;
  top: 258px;
  width: 127px;
}

.x7-team-27 .rectangle-6 {
  background-color: var(--orange-yellow);
  border: 1px none;
  border-radius: 3px;
  height: 59px;
  left: 1178px;
  position: absolute;
  top: 69px;
  width: 182px;
}

.x7-team-27 .cerrar-sesin {
  left: 1185px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 168px;
}

.x7-team-27 .group {
  height: 45px;
  left: 1104px;
  position: absolute;
  top: 76px;
  width: 45px;
}

.x7-team-27 .group-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 458px;
  min-height: 68px;
  position: absolute;
  top: 172px;
  width: 86px;
}

.x7-team-27 .grupo-339 {
  height: 40px;
  margin-right: 1.71px;
  width: 40px;
}

.x7-team-27 .qu-hay-de-nuevo {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 84px;
}

.x7-team-27 .group-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 690px;
  min-height: 65px;
  position: absolute;
  top: 175px;
  width: 68px;
}

.x7-team-27 .group-2 {
  height: 38px;
  margin-right: 2.0px;
  width: 52px;
}

.x7-team-27 .qu-hay-de-nuevo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 66px;
}

.x7-team-27 .overlap-group1 {
  height: 69px;
  left: 233px;
  position: absolute;
  top: 171px;
  width: 79px;
}

.x7-team-27 .group-2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 69px;
  position: absolute;
  top: 0;
  width: 79px;
}

.x7-team-27 .rectngulo-1448 {
  background-color: var(--rgb255-255-255);
  border: 3px solid;
  border-color: var(--de-york);
  border-radius: 4px;
  height: 41px;
  margin-right: 2.0px;
  width: 41px;
}

.x7-team-27 .qu-hay-de-nuevo-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 77px;
}

.x7-team-27 .trazado-239 {
  height: 15px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 21px;
}

.x7-team-27 .group-5 {
  height: 45px;
  left: 1308px;
  position: absolute;
  top: 309px;
  width: 45px;
}

.x7-team-27 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--goblin);
  border-radius: 3px;
  display: flex;
  height: 59px;
  left: 409px;
  min-width: 182px;
  padding: 15px 7px;
  position: absolute;
  top: 381px;
}

.x7-team-27 .crear {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  text-align: center;
  width: 168px;
}

.x7-team-27 .overlap-group3 {
  align-items: flex-start;
  background-color: var(--goblin);
  border-radius: 3px;
  display: flex;
  height: 59px;
  left: 615px;
  min-width: 182px;
  padding: 15px 7px;
  position: absolute;
  top: 379px;
}

.x7-team-27 .rectangle-10 {
  background-color: var(--gravel-2);
  border: 1px none;
  height: 572px;
  left: 3px;
  position: absolute;
  top: 276px;
  width: 1441px;
}

.x7-team-27 .group-container {
  align-items: flex-start;
  background-color: var(--rgb255-255-255);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 140px;
  left: 444px;
  min-height: 467px;
  padding: 34px 80px;
  position: absolute;
  top: 320px;
  width: 491px;
}

.x7-team-27 .overlap-group1-1 {
  height: 195px;
  position: relative;
  width: 329px;
}

.x7-team-27 .pidele-a-tus-estudia {
  left: 10px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 301px;
}

.x7-team-27 .su-asistencia-se-ver {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 53px;
  width: 329px;
}

.x7-team-27 .group-19 {
  align-items: flex-start;
  align-self: center;
  cursor: pointer;
  display: flex;
  margin-left: 0.52px;
  min-width: 204px;
}

.x7-team-27 .overlap-group-1 {
  height: 60px;
  position: relative;
  width: 202px;
}

.x7-team-27 .rectangle-12 {
  background-color: var(--zanah);
  border: 1px solid;
  border-color: var(--de-york);
  border-radius: 4px;
  height: 60px;
  left: 18px;
  position: absolute;
  top: 0;
  width: 159px;
}

.x7-team-27 .salir {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 14px;
  white-space: nowrap;
  width: 202px;
}

.x7-team-27 .image-1 {
  height: 218px;
  left: 580px;
  object-fit: cover;
  position: absolute;
  top: 450px;
  width: 218px;
}
