/* screen - cambiossinguardarperfil-1 */

.cambiossinguardarperfil-1 {
  align-items: flex-start;
  background-color: var(--rgb255-255-255);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 900px;
  overflow: hidden;
  padding: 1px 0;
  width: 1440px;
}

.cambiossinguardarperfil-1 .overlap-group8 {
  height: 275px;
  margin-left: -1px;
  position: relative;
  width: 1442px;
}

.cambiossinguardarperfil-1 .trazado-240 {
  height: 17px;
  left: 204px;
  position: absolute;
  top: 258px;
  width: 127px;
}

.cambiossinguardarperfil-1 .base {
  background-color: var(--goblin);
  border: 1px solid;
  border-color: transparent;
  height: 275px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1442px;
}

.cambiossinguardarperfil-1 .group-1 {
  align-items: center;
  display: flex;
  gap: 11px;
  height: 76px;
  left: 115px;
  min-width: 254px;
  position: absolute;
  top: 59px;
}

.cambiossinguardarperfil-1 .asset-1-1 {
  height: 76px;
  object-fit: cover;
  width: 67px;
}

.cambiossinguardarperfil-1 .dailyst {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 7.0px;
  min-height: 59px;
  min-width: 174px;
}

.cambiossinguardarperfil-1 .rectngulo-1447 {
  border: 1px solid;
  border-color: transparent;
  height: 46px;
  left: 2px;
  position: absolute;
  top: 0;
  width: 46px;
}

.cambiossinguardarperfil-1 .trazado-241 {
  height: 17px;
  left: 207px;
  position: absolute;
  top: 258px;
  width: 127px;
}

.cambiossinguardarperfil-1 .rectangle-6 {
  background-color: var(--orange-yellow);
  border: 1px none;
  border-radius: 3px;
  height: 59px;
  left: 1177px;
  position: absolute;
  top: 69px;
  width: 182px;
}

.cambiossinguardarperfil-1 .cerrar-sesin {
  left: 1184px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 83px;
  width: 168px;
}

.cambiossinguardarperfil-1 .group {
  height: 45px;
  left: 1103px;
  position: absolute;
  top: 76px;
  width: 45px;
}

.cambiossinguardarperfil-1 .group-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 457px;
  min-height: 68px;
  position: absolute;
  top: 172px;
  width: 86px;
}

.cambiossinguardarperfil-1 .grupo-339 {
  height: 40px;
  margin-right: 1.71px;
  width: 40px;
}

.cambiossinguardarperfil-1 .qu-hay-de-nuevo {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 84px;
}

.cambiossinguardarperfil-1 .group-4 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 9px;
  left: 689px;
  min-height: 65px;
  position: absolute;
  top: 175px;
  width: 68px;
}

.cambiossinguardarperfil-1 .group-2 {
  height: 38px;
  margin-right: 2.0px;
  width: 52px;
}

.cambiossinguardarperfil-1 .qu-hay-de-nuevo-1 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 66px;
}

.cambiossinguardarperfil-1 .overlap-group1 {
  height: 69px;
  left: 232px;
  position: absolute;
  top: 171px;
  width: 79px;
}

.cambiossinguardarperfil-1 .group-2-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
  left: 0;
  min-height: 69px;
  position: absolute;
  top: 0;
  width: 79px;
}

.cambiossinguardarperfil-1 .rectngulo-1448 {
  background-color: var(--de-york);
  border: 3px solid;
  border-radius: 4px;
  height: 41px;
  margin-right: 2.0px;
  width: 41px;
}

.cambiossinguardarperfil-1 .qu-hay-de-nuevo-2 {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 17px;
  min-width: 77px;
}

.cambiossinguardarperfil-1 .trazado-239 {
  height: 15px;
  left: 29px;
  object-fit: cover;
  position: absolute;
  top: 14px;
  width: 21px;
}

.cambiossinguardarperfil-1 .overlap-group9 {
  height: 572px;
  margin-left: -1px;
  position: relative;
  width: 1441px;
}

.cambiossinguardarperfil-1 .post-thumbnail {
  background-color: var(--de-york);
  height: 202px;
  left: 20px;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 1402px;
}

.cambiossinguardarperfil-1 .hero {
  align-items: flex-start;
  background-color: var(--zanah);
  display: flex;
  flex-direction: column;
  left: 151px;
  min-height: 106px;
  padding: 28px 32px;
  position: absolute;
  top: 49px;
  width: 351px;
}

.cambiossinguardarperfil-1 .name {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 2px;
  white-space: nowrap;
}

.cambiossinguardarperfil-1 .docente {
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.cambiossinguardarperfil-1 .input {
  align-items: flex-start;
  display: flex;
  gap: 4px;
  height: 182px;
  left: 135px;
  min-width: 658px;
  position: absolute;
  top: 183px;
}

.cambiossinguardarperfil-1 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 182px;
  width: 327px;
}

.cambiossinguardarperfil-1 .overlap-group {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 13.6px;
}

.cambiossinguardarperfil-1 .nombre {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 38px;
  text-align: right;
}

.cambiossinguardarperfil-1 .overlap-group2 {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 12.2px;
}

.cambiossinguardarperfil-1 .descripcin {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 56px;
  text-align: right;
}

.cambiossinguardarperfil-1 .overlap-group4 {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 12.7px;
}

.cambiossinguardarperfil-1 .contrasea {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 55px;
  text-align: right;
}

.cambiossinguardarperfil-1 .apellido {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 38px;
  text-align: right;
}

.cambiossinguardarperfil-1 .correo {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 33px;
  text-align: right;
}

.cambiossinguardarperfil-1 .overlap-group5 {
  align-items: center;
  background-image: url(../img/trazado-644@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  min-width: 327px;
  padding: 0 9.2px;
}

.cambiossinguardarperfil-1 .confirmar-contrasea {
  letter-spacing: 0;
  line-height: normal;
  min-height: 12px;
  min-width: 103px;
  text-align: right;
}

.cambiossinguardarperfil-1 .trazado-242 {
  height: 31px;
  left: 79px;
  object-fit: cover;
  position: absolute;
  top: 43px;
  width: 31px;
}

.cambiossinguardarperfil-1 .overlap-group6 {
  align-items: flex-start;
  background-color: var(--goblin);
  border-radius: 3px;
  display: flex;
  height: 59px;
  left: 610px;
  min-width: 182px;
  padding: 15px 7px;
  position: absolute;
  top: 401px;
}

.cambiossinguardarperfil-1 .guardar {
  letter-spacing: 0;
  line-height: normal;
  min-height: 25px;
  text-align: center;
  width: 168px;
}

.cambiossinguardarperfil-1 .rectangle-10 {
  background-color: var(--gravel-2);
  border: 1px none;
  height: 572px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1441px;
}

.cambiossinguardarperfil-1 .overlap-group7 {
  height: 191px;
  left: 1048px;
  position: absolute;
  top: 316px;
  width: 294px;
}

.cambiossinguardarperfil-1 .overlap-group-1 {
  height: 191px;
  left: 0;
  position: absolute;
  top: 0;
  width: 294px;
}

.cambiossinguardarperfil-1 .rectangle-11 {
  background-color: var(--rgb255-255-255);
  border: 1px none;
  border-radius: 5px;
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 294px;
}

.cambiossinguardarperfil-1 .polygon-1 {
  height: 43px;
  left: 122px;
  position: absolute;
  top: 148px;
  width: 50px;
}

.cambiossinguardarperfil-1 .cambios-sin-guardar {
  left: 57px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.cambiossinguardarperfil-1 .si-continas-tus-ca {
  left: 48px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 42px;
  width: 197px;
}

.cambiossinguardarperfil-1 .rectangle-12 {
  background-color: var(--zanah);
  border: 1px solid;
  border-color: var(--de-york);
  border-radius: 4px;
  height: 36px;
  left: 20px;
  position: absolute;
  top: 97px;
  width: 136px;
}

.cambiossinguardarperfil-1 .rectangle-13 {
  background-color: var(--zanah);
  border: 1px solid;
  border-color: var(--de-york);
  border-radius: 4px;
  height: 36px;
  left: 167px;
  position: absolute;
  top: 96px;
  width: 106px;
}

.cambiossinguardarperfil-1 .seguir-editando {
  cursor: pointer;
  left: 27px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 102px;
  white-space: nowrap;
}

.cambiossinguardarperfil-1 .continuar {
  cursor: pointer;
  left: 182px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 101px;
  white-space: nowrap;
}

.cambiossinguardarperfil-1 .info {
  align-items: flex-start;
  display: flex;
  min-width: 1442px;
}

.cambiossinguardarperfil-1 .overlap-group-2 {
  align-items: center;
  background-color: var(--goblin);
  display: flex;
  height: 50px;
  min-width: 1440px;
  padding: 0 76.8px;
}

.cambiossinguardarperfil-1 .copyright {
  letter-spacing: 0;
  line-height: 20px;
  min-width: 72px;
  text-align: right;
  white-space: nowrap;
}
